In [9]:
import json
import pandas as pd
from datetime import datetime as dt
import time

In [10]:
t1 = time.time()
def check_date(datestring):
    start = dt.strptime('2019-01-01','%Y-%m-%d')
    end = dt.strptime('2021-01-28','%Y-%m-%d')
    string_time = dt.strptime(datestring, "%Y-%m-%d %H:%M:%S")
    if string_time >= start and string_time <= end:
        return datestring

def remove_old_dates(datestrings):
    return ", ".join([i for i in datestrings.split(", ") if check_date(i)])

In [11]:
df = pd.read_json('yelp_academic_dataset_checkin.json', lines=True)

df.head()

              business_id                                               date
0  --0r8K_AQ4FZfLsX3ZYRDA                                2017-09-03 17:13:59
1  --0zrn43LEaB4jUWTQH_Bg  2010-10-08 22:21:20, 2010-11-01 21:29:14, 2010...
2  --164t1nclzzmca7eDiJMw  2010-02-26 02:06:53, 2010-02-27 08:00:09, 2010...
3  --2aF9NhXnNVpDV0KS3xBQ  2014-11-03 16:35:35, 2015-01-30 18:16:03, 2015...
4  --2mEJ63SC_8_08_jGgVIg  2010-12-15 17:10:46, 2013-12-28 00:27:54, 2015...

In [14]:
df['date'] = [remove_old_dates(i) for i in df['date']]

In [15]:
df_f = df[df['date']!='']

In [17]:
j = df_f.to_json('yelp_checkin_data.json',orient="records",lines=True)

In [18]:
t2 = time.time()

In [19]:
print(t2-t1)

36974.32853579521