In [4]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import datetime

In [5]:
import json

json_filename = 'yelp_checkin_data_copy.json'

# with open(json_filename) as file:
#     array = {'all_locations': []}
#     all_locations_list = array['all_locations']
#     for line in file:
#         obj = json.loads(line)
#         all_locations_list.append(obj)

# print(json.dumps(array, indent=4))

In [6]:
with open(json_filename) as file:
    print(file)

<_io.TextIOWrapper name='yelp_checkin_data_copy.json' mode='r' encoding='UTF-8'>

In [7]:
# Want to break up the cells with checkin data. Each checkin date + time in its own column. Data separated at the comma. 
# We want to keep only the hour recorded by the checkin. We don't care about the day or month.
# Want to count number of checkins at any hour of the day per business id. Columns will be business ID, 6:00, 7:00, 8:00... 20:00, 21:00, 22:00
# We also want to count the total number of checkins.
# We then want to keep ONLY the 10 most popular restaurants of any cuisine of any of the cities we limited our search to.
# Drop all of the other records
# This is the final dataset

In [8]:
df = pd.read_json('yelp_checkin_data_copy.json', lines=True)

df.head()

              business_id                                               date
0  --2aF9NhXnNVpDV0KS3xBQ           2019-04-22 19:34:48, 2020-12-29 16:22:00
1  --Q3mAcX9t63f7Xcbn7LVA  2020-07-15 22:29:52, 2020-07-16 22:42:20, 2020...
2  --UNNdnHRhsyFUbDgumdtQ  2019-01-16 03:19:46, 2019-01-16 03:20:36, 2019...
3  --bbZa1KPYSmW0X4o3TUQw  2019-03-17 01:02:12, 2019-05-19 01:33:50, 2019...
4  --hkbIWgBKBOZq4VcNwdhQ  2019-01-01 23:42:36, 2019-01-04 00:26:34, 2019...

In [12]:
merged_df = pd.read_csv('final_busMOD copy.csv')
merged_df

,Unnamed: 0,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines
0,32,r_sOAVfNPaXrpjznZpuxeg,Papi Chulo's,611 NW 13th Ave,Portland,97209,45.527419,-122.684447,4.0,Birra burrito. You're welcome.,Mexican
1,50,UKIBQrRbY_jo52yHWcZE8g,Noah Halal,310 SW 5th Ave,Portland,97204,45.521036,-122.676633,4.0,Food truck moved to new pod on SE Powell and 35th,Mediterranean
2,145,sJNMic9YAN7rSy8RnHZ0qw,Moon Dream,3232 NE 82nd Ave,Portland,97220,45.545997,-122.578524,4.5,NaN,American (New)
3,171,uMPGs_Jc1fBoxeGrCKqRiw,Panda Express,1462 NE 122nd Ave,Portland,97230,45.533263,-122.537338,2.0,"Morgan was really really sweet, amazing custom...",Chinese
4,234,zfasUshwU5NhibqKVQ7FIw,Chopsticks,3616 SE Hawthorne Blvd,Portland,97214,45.511930,-122.626345,3.0,NaN,Chinese
...,...,...,...,...,...,...,...,...,...,...,...
894,34957,bg1MpNS2occNxzf1d2XFSw,Charley's Restaurant & Bar,435 NE Wasco St,Portland,97232,45.532578,-122.661142,3.0,NaN,American (New)
895,34989,qYSb2KkBYjJyTTIdhiXbFA,Skin & Bones American Bistro,5425 E Burnside St,Portland,97215,45.522904,-122.607814,4.0,NaN,American (New)
896,35113,TiBodtlOdiwALvmhWfLNSA,Lin's China Jade,4050 SW Cedar Hills Blvd,Beaverton,97005,45.490576,-122.810231,3.5,We love all the food here. It's been a family ...,Chinese
897,35179,IVv9n57Tbmf4kSgIWZUhKg,Creepy's,627 SE Morrison St,Portland,97214,45.517344,-122.659096,4.0,Loved that shit,American (Traditional)
898,35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,NaN,American (Traditional)

In [13]:
tiny_checkins_merged = pd.merge(df, merged_df, how ='left')
tiny_checkins_merged

,business_id,date,Unnamed: 0,name,address,city,postal_code,latitude,longitude,stars,tips,cusines
0,--2aF9NhXnNVpDV0KS3xBQ,"2019-04-22 19:34:48, 2020-12-29 16:22:00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,--Q3mAcX9t63f7Xcbn7LVA,"2020-07-15 22:29:52, 2020-07-16 22:42:20, 2020...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--UNNdnHRhsyFUbDgumdtQ,"2019-01-16 03:19:46, 2019-01-16 03:20:36, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--bbZa1KPYSmW0X4o3TUQw,"2019-03-17 01:02:12, 2019-05-19 01:33:50, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--hkbIWgBKBOZq4VcNwdhQ,"2019-01-01 23:42:36, 2019-01-04 00:26:34, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
77978,zzh_hbB0Zgl2a5uL_6hXpA,"2019-04-02 17:46:41, 2019-04-13 17:21:42, 2020...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77979,zzin1d1oHi81GuI0ufo1VA,"2019-01-02 18:29:57, 2019-01-17 17:23:19, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77980,zzlkjDG9Rv8Jn-vSolMgyw,"2019-01-01 05:18:53, 2019-01-01 14:16:13, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77981,zzngBb9MoGpkFe8tfowvvA,"2019-02-16 23:50:09, 2019-03-16 19:31:29, 2019...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77982,zzpmoTVq4yn86U7ArHyFBQ,"2020-07-18 18:33:18, 2020-07-18 20:13:49, 2020...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
tiny_drop = tiny_checkins_merged.dropna()
tiny_drop

,business_id,date,Unnamed: 0,name,address,city,postal_code,latitude,longitude,stars,tips,cusines
90,-3hnEon-pSQRGPDr80s3Gw,"2019-01-02 08:07:16, 2019-03-24 03:04:36, 2019...",11877.0,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican
92,-3jJSQtMfsGacIUHaFcZbQ,"2019-01-04 04:22:36, 2019-01-04 22:40:12, 2019...",27116.0,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese
185,-921gYzvMFJmxJw9SMZ5mA,"2019-01-03 20:33:48, 2019-01-27 22:05:08, 2019...",6630.0,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican
189,-99rAyLj7X3iRbwyPvT1CA,"2019-01-04 22:05:06, 2019-11-15 02:49:04, 2020...",21803.0,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese
283,-F6NlEBUUf5PznCycJcOVg,"2019-03-15 02:08:03, 2019-03-15 02:08:44, 2019...",33332.0,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional)
...,...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,2020-02-12 03:50:47,19502.0,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean
77776,zoH3uQn5-HP9Y4-zzlgkfQ,"2019-05-16 01:42:52, 2019-05-23 01:32:42, 2019...",16653.0,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai
77814,zqDaDcrPJbecQhT4z6okIg,"2019-01-15 01:23:32, 2019-03-11 03:35:32, 2019...",11658.0,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese
77867,zt_Dy0aW6LLY_k2Uo-TxDw,"2019-01-01 09:42:17, 2019-01-19 05:14:17, 2019...",28852.0,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican
77893,zugu5Y9MeSAZ_1k1RfXMwQ,"2019-03-27 02:49:54, 2019-04-18 00:50:08, 2019...",20698.0,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese

In [15]:
tinier_drop = tiny_drop.drop(['Unnamed: 0'], axis=1)
tinier_drop

,business_id,date,name,address,city,postal_code,latitude,longitude,stars,tips,cusines
90,-3hnEon-pSQRGPDr80s3Gw,"2019-01-02 08:07:16, 2019-03-24 03:04:36, 2019...",El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican
92,-3jJSQtMfsGacIUHaFcZbQ,"2019-01-04 04:22:36, 2019-01-04 22:40:12, 2019...",Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese
185,-921gYzvMFJmxJw9SMZ5mA,"2019-01-03 20:33:48, 2019-01-27 22:05:08, 2019...",Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican
189,-99rAyLj7X3iRbwyPvT1CA,"2019-01-04 22:05:06, 2019-11-15 02:49:04, 2020...",Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese
283,-F6NlEBUUf5PznCycJcOVg,"2019-03-15 02:08:03, 2019-03-15 02:08:44, 2019...",Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional)
...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,2020-02-12 03:50:47,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean
77776,zoH3uQn5-HP9Y4-zzlgkfQ,"2019-05-16 01:42:52, 2019-05-23 01:32:42, 2019...",Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai
77814,zqDaDcrPJbecQhT4z6okIg,"2019-01-15 01:23:32, 2019-03-11 03:35:32, 2019...",Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese
77867,zt_Dy0aW6LLY_k2Uo-TxDw,"2019-01-01 09:42:17, 2019-01-19 05:14:17, 2019...",Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican
77893,zugu5Y9MeSAZ_1k1RfXMwQ,"2019-03-27 02:49:54, 2019-04-18 00:50:08, 2019...",Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese

In [16]:
unique_date = tinier_drop['date'].str.split(',', expand= True)

unique_date

,0,1,2,3,4,5,6,7,8,9,...,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182
90,2019-01-02 08:07:16,2019-03-24 03:04:36,2019-04-05 05:16:01,2019-04-07 18:40:34,2019-04-29 02:03:49,2019-05-04 02:05:08,2019-05-05 21:46:20,2019-05-22 01:11:37,2019-05-22 20:36:50,2019-06-22 23:56:41,...,None,None,None,None,None,None,None,None,None,None
92,2019-01-04 04:22:36,2019-01-04 22:40:12,2019-01-05 06:11:42,2019-01-06 03:41:43,2019-01-20 21:05:18,2019-01-21 01:45:29,2019-01-21 01:46:10,2019-01-21 01:46:26,2019-01-21 04:23:26,2019-02-01 03:03:27,...,None,None,None,None,None,None,None,None,None,None
185,2019-01-03 20:33:48,2019-01-27 22:05:08,2019-02-18 21:21:14,2019-03-10 04:10:54,2019-03-17 20:43:32,2019-03-20 00:40:00,2019-03-27 23:21:51,2019-04-04 19:25:49,2019-04-07 23:12:31,2019-04-11 18:21:46,...,None,None,None,None,None,None,None,None,None,None
189,2019-01-04 22:05:06,2019-11-15 02:49:04,2020-07-31 21:22:50,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
283,2019-03-15 02:08:03,2019-03-15 02:08:44,2019-03-17 22:33:22,2019-03-17 22:34:12,2019-03-24 23:48:06,2019-03-24 23:58:02,2019-05-12 20:06:19,2019-07-13 19:30:32,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,2020-02-12 03:50:47,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
77776,2019-05-16 01:42:52,2019-05-23 01:32:42,2019-06-07 00:31:15,2019-07-21 02:04:47,2019-08-05 00:43:55,2019-08-12 01:51:46,2019-08-27 01:24:49,2019-09-10 02:59:46,2019-10-25 01:28:41,2019-11-06 03:11:04,...,None,None,None,None,None,None,None,None,None,None
77814,2019-01-15 01:23:32,2019-03-11 03:35:32,2019-03-18 01:09:36,2019-03-30 20:03:51,2019-04-13 00:02:31,2019-05-01 23:32:43,2019-06-02 01:56:26,2019-06-27 03:03:00,2019-08-08 19:23:30,2019-08-14 23:57:55,...,None,None,None,None,None,None,None,None,None,None
77867,2019-01-01 09:42:17,2019-01-19 05:14:17,2019-01-29 01:08:29,2019-01-29 03:59:34,2019-02-01 01:11:39,2019-02-02 02:31:32,2019-02-05 03:29:12,2019-02-08 05:05:19,2019-02-19 07:24:08,2019-02-22 06:38:02,...,None,None,None,None,None,None,None,None,None,None
77893,2019-03-27 02:49:54,2019-04-18 00:50:08,2019-08-08 19:30:33,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [34]:
all_df = tinier_drop.merge(unique_date, left_index=True, right_index=True)
all_df

,business_id,date,name,address,city,postal_code,latitude,longitude,stars,tips,...,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182
90,-3hnEon-pSQRGPDr80s3Gw,"2019-01-02 08:07:16, 2019-03-24 03:04:36, 2019...",El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,...,None,None,None,None,None,None,None,None,None,None
92,-3jJSQtMfsGacIUHaFcZbQ,"2019-01-04 04:22:36, 2019-01-04 22:40:12, 2019...",Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,...,None,None,None,None,None,None,None,None,None,None
185,-921gYzvMFJmxJw9SMZ5mA,"2019-01-03 20:33:48, 2019-01-27 22:05:08, 2019...",Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,...,None,None,None,None,None,None,None,None,None,None
189,-99rAyLj7X3iRbwyPvT1CA,"2019-01-04 22:05:06, 2019-11-15 02:49:04, 2020...",Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,...,None,None,None,None,None,None,None,None,None,None
283,-F6NlEBUUf5PznCycJcOVg,"2019-03-15 02:08:03, 2019-03-15 02:08:44, 2019...",Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,2020-02-12 03:50:47,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,...,None,None,None,None,None,None,None,None,None,None
77776,zoH3uQn5-HP9Y4-zzlgkfQ,"2019-05-16 01:42:52, 2019-05-23 01:32:42, 2019...",Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,...,None,None,None,None,None,None,None,None,None,None
77814,zqDaDcrPJbecQhT4z6okIg,"2019-01-15 01:23:32, 2019-03-11 03:35:32, 2019...",Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,...,None,None,None,None,None,None,None,None,None,None
77867,zt_Dy0aW6LLY_k2Uo-TxDw,"2019-01-01 09:42:17, 2019-01-19 05:14:17, 2019...",Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,...,None,None,None,None,None,None,None,None,None,None
77893,zugu5Y9MeSAZ_1k1RfXMwQ,"2019-03-27 02:49:54, 2019-04-18 00:50:08, 2019...",Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,...,None,None,None,None,None,None,None,None,None,None

In [35]:
#cols = all_df.columns[11:1182]
#all_df[cols].apply(pd.to_datetime)
#print(all_df[cols])

In [36]:
#for col in (all_df[cols]):
    #print ((all_df[cols])[col].apply(type))

In [27]:
# remove dates from datetime in each column, make sure the new dataframe has a unique name
# make 5 new columns for breakfast, lunch, afternoon, evening, total checkins
# nested for loop, if between x and y add to column 'breakfast'

In [37]:
all_df_dropped = all_df.drop(['date'], axis=1)
all_df_dropped

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,...,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182
90,-3hnEon-pSQRGPDr80s3Gw,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican,...,None,None,None,None,None,None,None,None,None,None
92,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,...,None,None,None,None,None,None,None,None,None,None
185,-921gYzvMFJmxJw9SMZ5mA,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican,...,None,None,None,None,None,None,None,None,None,None
189,-99rAyLj7X3iRbwyPvT1CA,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese,...,None,None,None,None,None,None,None,None,None,None
283,-F6NlEBUUf5PznCycJcOVg,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional),...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean,...,None,None,None,None,None,None,None,None,None,None
77776,zoH3uQn5-HP9Y4-zzlgkfQ,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai,...,None,None,None,None,None,None,None,None,None,None
77814,zqDaDcrPJbecQhT4z6okIg,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese,...,None,None,None,None,None,None,None,None,None,None
77867,zt_Dy0aW6LLY_k2Uo-TxDw,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican,...,None,None,None,None,None,None,None,None,None,None
77893,zugu5Y9MeSAZ_1k1RfXMwQ,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese,...,None,None,None,None,None,None,None,None,None,None

In [104]:
new_all_df = all_df_dropped.drop([121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182], axis=1)
new_all_df

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,...,111,112,113,114,115,116,117,118,119,120
90,-3hnEon-pSQRGPDr80s3Gw,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican,...,None,None,None,None,None,None,None,None,None,None
92,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,...,2019-09-23 03:16:11,2019-09-29 19:22:17,2019-09-29 20:39:26,2019-10-10 01:12:51,2019-10-11 20:07:45,2019-10-12 00:23:05,2019-10-12 21:38:47,2019-10-13 01:20:20,2019-10-14 01:59:32,2019-10-18 07:17:15
185,-921gYzvMFJmxJw9SMZ5mA,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican,...,None,None,None,None,None,None,None,None,None,None
189,-99rAyLj7X3iRbwyPvT1CA,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese,...,None,None,None,None,None,None,None,None,None,None
283,-F6NlEBUUf5PznCycJcOVg,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional),...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean,...,None,None,None,None,None,None,None,None,None,None
77776,zoH3uQn5-HP9Y4-zzlgkfQ,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai,...,None,None,None,None,None,None,None,None,None,None
77814,zqDaDcrPJbecQhT4z6okIg,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese,...,None,None,None,None,None,None,None,None,None,None
77867,zt_Dy0aW6LLY_k2Uo-TxDw,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican,...,None,None,None,None,None,None,None,None,None,None
77893,zugu5Y9MeSAZ_1k1RfXMwQ,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese,...,None,None,None,None,None,None,None,None,None,None

In [105]:
new_all_df.to_csv('new_all_data.csv')

In [106]:
count = new_all_df.groupby(['cusines']).size()
print(count)

cusines
American (New)            43
American (Traditional)    73
Chinese                   36
Japanese                  46
Mediterranean             18
Mexican                   92
Thai                      42
Vietnamese                20
dtype: int64

In [107]:
#count total number of values across rows 0 to 50, exclude "None"
#reset the index
#make a for loop
new_all_df.reset_index(drop=True)

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,...,111,112,113,114,115,116,117,118,119,120
0,-3hnEon-pSQRGPDr80s3Gw,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican,...,None,None,None,None,None,None,None,None,None,None
1,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,...,2019-09-23 03:16:11,2019-09-29 19:22:17,2019-09-29 20:39:26,2019-10-10 01:12:51,2019-10-11 20:07:45,2019-10-12 00:23:05,2019-10-12 21:38:47,2019-10-13 01:20:20,2019-10-14 01:59:32,2019-10-18 07:17:15
2,-921gYzvMFJmxJw9SMZ5mA,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican,...,None,None,None,None,None,None,None,None,None,None
3,-99rAyLj7X3iRbwyPvT1CA,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese,...,None,None,None,None,None,None,None,None,None,None
4,-F6NlEBUUf5PznCycJcOVg,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional),...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,zkGmrEHkgmODkAOvLf6FXw,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean,...,None,None,None,None,None,None,None,None,None,None
366,zoH3uQn5-HP9Y4-zzlgkfQ,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai,...,None,None,None,None,None,None,None,None,None,None
367,zqDaDcrPJbecQhT4z6okIg,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese,...,None,None,None,None,None,None,None,None,None,None
368,zt_Dy0aW6LLY_k2Uo-TxDw,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican,...,None,None,None,None,None,None,None,None,None,None
369,zugu5Y9MeSAZ_1k1RfXMwQ,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese,...,None,None,None,None,None,None,None,None,None,None

In [108]:
unique_date_axis_reset = new_all_df.drop(['business_id', 'name', 'address', 'city', 'postal_code', 'latitude', 'longitude', 'stars', 'tips', 'cusines'], axis=1)
unique_date_axis_reset

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,120
90,2019-01-02 08:07:16,2019-03-24 03:04:36,2019-04-05 05:16:01,2019-04-07 18:40:34,2019-04-29 02:03:49,2019-05-04 02:05:08,2019-05-05 21:46:20,2019-05-22 01:11:37,2019-05-22 20:36:50,2019-06-22 23:56:41,...,None,None,None,None,None,None,None,None,None,None
92,2019-01-04 04:22:36,2019-01-04 22:40:12,2019-01-05 06:11:42,2019-01-06 03:41:43,2019-01-20 21:05:18,2019-01-21 01:45:29,2019-01-21 01:46:10,2019-01-21 01:46:26,2019-01-21 04:23:26,2019-02-01 03:03:27,...,2019-09-23 03:16:11,2019-09-29 19:22:17,2019-09-29 20:39:26,2019-10-10 01:12:51,2019-10-11 20:07:45,2019-10-12 00:23:05,2019-10-12 21:38:47,2019-10-13 01:20:20,2019-10-14 01:59:32,2019-10-18 07:17:15
185,2019-01-03 20:33:48,2019-01-27 22:05:08,2019-02-18 21:21:14,2019-03-10 04:10:54,2019-03-17 20:43:32,2019-03-20 00:40:00,2019-03-27 23:21:51,2019-04-04 19:25:49,2019-04-07 23:12:31,2019-04-11 18:21:46,...,None,None,None,None,None,None,None,None,None,None
189,2019-01-04 22:05:06,2019-11-15 02:49:04,2020-07-31 21:22:50,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
283,2019-03-15 02:08:03,2019-03-15 02:08:44,2019-03-17 22:33:22,2019-03-17 22:34:12,2019-03-24 23:48:06,2019-03-24 23:58:02,2019-05-12 20:06:19,2019-07-13 19:30:32,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,2020-02-12 03:50:47,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
77776,2019-05-16 01:42:52,2019-05-23 01:32:42,2019-06-07 00:31:15,2019-07-21 02:04:47,2019-08-05 00:43:55,2019-08-12 01:51:46,2019-08-27 01:24:49,2019-09-10 02:59:46,2019-10-25 01:28:41,2019-11-06 03:11:04,...,None,None,None,None,None,None,None,None,None,None
77814,2019-01-15 01:23:32,2019-03-11 03:35:32,2019-03-18 01:09:36,2019-03-30 20:03:51,2019-04-13 00:02:31,2019-05-01 23:32:43,2019-06-02 01:56:26,2019-06-27 03:03:00,2019-08-08 19:23:30,2019-08-14 23:57:55,...,None,None,None,None,None,None,None,None,None,None
77867,2019-01-01 09:42:17,2019-01-19 05:14:17,2019-01-29 01:08:29,2019-01-29 03:59:34,2019-02-01 01:11:39,2019-02-02 02:31:32,2019-02-05 03:29:12,2019-02-08 05:05:19,2019-02-19 07:24:08,2019-02-22 06:38:02,...,None,None,None,None,None,None,None,None,None,None
77893,2019-03-27 02:49:54,2019-04-18 00:50:08,2019-08-08 19:30:33,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [109]:
unique_date_axis_reset['checkins_count'] = unique_date_axis_reset.count(axis=1)
print (unique_date_axis_reset)

                         0                     1                     2  \
90     2019-01-02 08:07:16   2019-03-24 03:04:36   2019-04-05 05:16:01
92     2019-01-04 04:22:36   2019-01-04 22:40:12   2019-01-05 06:11:42
185    2019-01-03 20:33:48   2019-01-27 22:05:08   2019-02-18 21:21:14
189    2019-01-04 22:05:06   2019-11-15 02:49:04   2020-07-31 21:22:50
283    2019-03-15 02:08:03   2019-03-15 02:08:44   2019-03-17 22:33:22
...                    ...                   ...                   ...
77680  2020-02-12 03:50:47                  None                  None
77776  2019-05-16 01:42:52   2019-05-23 01:32:42   2019-06-07 00:31:15
77814  2019-01-15 01:23:32   2019-03-11 03:35:32   2019-03-18 01:09:36
77867  2019-01-01 09:42:17   2019-01-19 05:14:17   2019-01-29 01:08:29
77893  2019-03-27 02:49:54   2019-04-18 00:50:08   2019-08-08 19:30:33

                          3                     4                     5  \
90      2019-04-07 18:40:34   2019-04-29 02:03:49   2019-05-04 02:05:08
92      2019-01-06 03:41:43   2019-01-20 21:05:18   2019-01-21 01:45:29
185     2019-03-10 04:10:54   2019-03-17 20:43:32   2019-03-20 00:40:00
189                    None                  None                  None
283     2019-03-17 22:34:12   2019-03-24 23:48:06   2019-03-24 23:58:02
...                     ...                   ...                   ...
77680                  None                  None                  None
77776   2019-07-21 02:04:47   2019-08-05 00:43:55   2019-08-12 01:51:46
77814   2019-03-30 20:03:51   2019-04-13 00:02:31   2019-05-01 23:32:43
77867   2019-01-29 03:59:34   2019-02-01 01:11:39   2019-02-02 02:31:32
77893                  None                  None                  None

                          6                     7                     8  \
90      2019-05-05 21:46:20   2019-05-22 01:11:37   2019-05-22 20:36:50
92      2019-01-21 01:46:10   2019-01-21 01:46:26   2019-01-21 04:23:26
185     2019-03-27 23:21:51   2019-04-04 19:25:49   2019-04-07 23:12:31
189                    None                  None                  None
283     2019-05-12 20:06:19   2019-07-13 19:30:32                  None
...                     ...                   ...                   ...
77680                  None                  None                  None
77776   2019-08-27 01:24:49   2019-09-10 02:59:46   2019-10-25 01:28:41
77814   2019-06-02 01:56:26   2019-06-27 03:03:00   2019-08-08 19:23:30
77867   2019-02-05 03:29:12   2019-02-08 05:05:19   2019-02-19 07:24:08
77893                  None                  None                  None

                          9  ...                   112                   113  \
90      2019-06-22 23:56:41  ...                  None                  None
92      2019-02-01 03:03:27  ...   2019-09-29 19:22:17   2019-09-29 20:39:26
185     2019-04-11 18:21:46  ...                  None                  None
189                    None  ...                  None                  None
283                    None  ...                  None                  None
...                     ...  ...                   ...                   ...
77680                  None  ...                  None                  None
77776   2019-11-06 03:11:04  ...                  None                  None
77814   2019-08-14 23:57:55  ...                  None                  None
77867   2019-02-22 06:38:02  ...                  None                  None
77893                  None  ...                  None                  None

                        114                   115                   116  \
90                     None                  None                  None
92      2019-10-10 01:12:51   2019-10-11 20:07:45   2019-10-12 00:23:05
185                    None                  None                  None
189                    None                  None                  None
283                    None                  None                  None
...                     ...                   ...                   ...
77680                  None                  None                  None
77776                  None                  None                  None
77814                  None                  None                  None
77867                  None                  None                  None
77893                  None                  None                  None

                        117                   118                   119  \
90                     None                  None                  None
92      2019-10-12 21:38:47   2019-10-13 01:20:20   2019-10-14 01:59:32
185                    None                  None                  None
189                    None                  None                  None
283                    None                  None                  None
...                     ...                   ...                   ...
77680                  None                  None                  None
77776                  None                  None                  None
77814                  None                  None                  None
77867                  None                  None                  None
77893                  None                  None                  None

                        120 checkins_count
90                     None             33
92      2019-10-18 07:17:15            121
185                    None             60
189                    None              3
283                    None              8
...                     ...            ...
77680                  None              1
77776                  None             17
77814                  None             34
77867                  None             64
77893                  None              3

[370 rows x 122 columns]

In [110]:
unique_date_axis_reset

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,checkins_count
90,2019-01-02 08:07:16,2019-03-24 03:04:36,2019-04-05 05:16:01,2019-04-07 18:40:34,2019-04-29 02:03:49,2019-05-04 02:05:08,2019-05-05 21:46:20,2019-05-22 01:11:37,2019-05-22 20:36:50,2019-06-22 23:56:41,...,None,None,None,None,None,None,None,None,None,33
92,2019-01-04 04:22:36,2019-01-04 22:40:12,2019-01-05 06:11:42,2019-01-06 03:41:43,2019-01-20 21:05:18,2019-01-21 01:45:29,2019-01-21 01:46:10,2019-01-21 01:46:26,2019-01-21 04:23:26,2019-02-01 03:03:27,...,2019-09-29 19:22:17,2019-09-29 20:39:26,2019-10-10 01:12:51,2019-10-11 20:07:45,2019-10-12 00:23:05,2019-10-12 21:38:47,2019-10-13 01:20:20,2019-10-14 01:59:32,2019-10-18 07:17:15,121
185,2019-01-03 20:33:48,2019-01-27 22:05:08,2019-02-18 21:21:14,2019-03-10 04:10:54,2019-03-17 20:43:32,2019-03-20 00:40:00,2019-03-27 23:21:51,2019-04-04 19:25:49,2019-04-07 23:12:31,2019-04-11 18:21:46,...,None,None,None,None,None,None,None,None,None,60
189,2019-01-04 22:05:06,2019-11-15 02:49:04,2020-07-31 21:22:50,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,3
283,2019-03-15 02:08:03,2019-03-15 02:08:44,2019-03-17 22:33:22,2019-03-17 22:34:12,2019-03-24 23:48:06,2019-03-24 23:58:02,2019-05-12 20:06:19,2019-07-13 19:30:32,None,None,...,None,None,None,None,None,None,None,None,None,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,2020-02-12 03:50:47,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,1
77776,2019-05-16 01:42:52,2019-05-23 01:32:42,2019-06-07 00:31:15,2019-07-21 02:04:47,2019-08-05 00:43:55,2019-08-12 01:51:46,2019-08-27 01:24:49,2019-09-10 02:59:46,2019-10-25 01:28:41,2019-11-06 03:11:04,...,None,None,None,None,None,None,None,None,None,17
77814,2019-01-15 01:23:32,2019-03-11 03:35:32,2019-03-18 01:09:36,2019-03-30 20:03:51,2019-04-13 00:02:31,2019-05-01 23:32:43,2019-06-02 01:56:26,2019-06-27 03:03:00,2019-08-08 19:23:30,2019-08-14 23:57:55,...,None,None,None,None,None,None,None,None,None,34
77867,2019-01-01 09:42:17,2019-01-19 05:14:17,2019-01-29 01:08:29,2019-01-29 03:59:34,2019-02-01 01:11:39,2019-02-02 02:31:32,2019-02-05 03:29:12,2019-02-08 05:05:19,2019-02-19 07:24:08,2019-02-22 06:38:02,...,None,None,None,None,None,None,None,None,None,64
77893,2019-03-27 02:49:54,2019-04-18 00:50:08,2019-08-08 19:30:33,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,3

In [111]:
checkins_count = unique_date_axis_reset.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120], axis=1)
checkins_count

       checkins_count
90                 33
92                121
185                60
189                 3
283                 8
...               ...
77680               1
77776              17
77814              34
77867              64
77893               3

[370 rows x 1 columns]

In [112]:
checkins_bus_merged = pd.merge(new_all_df, checkins_count, left_index=True, right_index=True)
checkins_bus_merged

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,...,112,113,114,115,116,117,118,119,120,checkins_count
90,-3hnEon-pSQRGPDr80s3Gw,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican,...,None,None,None,None,None,None,None,None,None,33
92,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,...,2019-09-29 19:22:17,2019-09-29 20:39:26,2019-10-10 01:12:51,2019-10-11 20:07:45,2019-10-12 00:23:05,2019-10-12 21:38:47,2019-10-13 01:20:20,2019-10-14 01:59:32,2019-10-18 07:17:15,121
185,-921gYzvMFJmxJw9SMZ5mA,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican,...,None,None,None,None,None,None,None,None,None,60
189,-99rAyLj7X3iRbwyPvT1CA,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese,...,None,None,None,None,None,None,None,None,None,3
283,-F6NlEBUUf5PznCycJcOVg,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional),...,None,None,None,None,None,None,None,None,None,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean,...,None,None,None,None,None,None,None,None,None,1
77776,zoH3uQn5-HP9Y4-zzlgkfQ,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai,...,None,None,None,None,None,None,None,None,None,17
77814,zqDaDcrPJbecQhT4z6okIg,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese,...,None,None,None,None,None,None,None,None,None,34
77867,zt_Dy0aW6LLY_k2Uo-TxDw,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican,...,None,None,None,None,None,None,None,None,None,64
77893,zugu5Y9MeSAZ_1k1RfXMwQ,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese,...,None,None,None,None,None,None,None,None,None,3

In [113]:
final_dataset = checkins_bus_merged.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120], axis=1)
final_dataset

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,checkins_count
90,-3hnEon-pSQRGPDr80s3Gw,El Burrito Azteca,1942 N Rosa Parks Way,Portland,97217.0,45.569745,-122.687246,4.0,Referred by a friend.. Tacos are AMAZING!!!,Mexican,33
92,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,121
185,-921gYzvMFJmxJw9SMZ5mA,Sanchez Taquería,13050 SW Pacific Hwy,Tigard,97223.0,45.425415,-122.779875,4.0,Muy buena comida,Mexican,60
189,-99rAyLj7X3iRbwyPvT1CA,Mashita Teriyaki,1612 NE 6th Ave,Portland,97232.0,45.534572,-122.659264,3.5,Check the board behind the counter for daily s...,Japanese,3
283,-F6NlEBUUf5PznCycJcOVg,Buddies Sports Bar & Grill,18520 SW Farmington Rd,Beaverton,97007.0,45.474624,-122.867841,4.0,Service is out of this world! Food is great.,American (Traditional),8
...,...,...,...,...,...,...,...,...,...,...,...
77680,zkGmrEHkgmODkAOvLf6FXw,Pita Pit,18033 NW Evergreen Pkwy,Beaverton,97006.0,45.536265,-122.861670,3.0,Shut down because of Covid-19,Mediterranean,1
77776,zoH3uQn5-HP9Y4-zzlgkfQ,Malee's Thai Kitchen,15902 Boones Ferry Rd,Lake Oswego,97035.0,45.410219,-122.718986,4.0,Hands down...amazing flavors. Great first time...,Thai,17
77814,zqDaDcrPJbecQhT4z6okIg,Happy Panda Restaurant,1415 NW 185th Ave,Beaverton,97006.0,45.530276,-122.869045,3.0,Yuck,Chinese,34
77867,zt_Dy0aW6LLY_k2Uo-TxDw,Santería,703 SW Ankeny St,Portland,97205.0,45.522709,-122.678015,4.0,A great place. Superb food. Friendly staff. Ex...,Mexican,64
77893,zugu5Y9MeSAZ_1k1RfXMwQ,Ichi Teriyaki 23,16255 SE Division St,Portland,97236.0,45.504891,-122.495315,3.5,Good food. Good price.,Chinese,3

In [114]:
#final_dataset.to_csv('final_dataset.csv')

In [115]:
final_dataset = final_dataset[final_dataset.checkins_count > 75]

In [116]:
final_dataset

,business_id,name,address,city,postal_code,latitude,longitude,stars,tips,cusines,checkins_count
92,-3jJSQtMfsGacIUHaFcZbQ,Bonsai By Sake Japanese & Thai Cuisine,"615 SW Broadway, Ste 102",Portland,97205.0,45.519813,-122.679630,4.0,Very good food! Love the vibe in this place to...,Japanese,121
1915,0ZRpi6S6ogby5IALbpZVBg,Ruth's Chris Steak House,850 SW Broadway,Portland,97205.0,45.518117,-122.680084,4.0,Greedy and evil. Never again. Return the $20 m...,American (Traditional),104
1927,0_1g3DSi_dg8qDBXl0UYYA,Costello's Travel Cafe,2222 NE Broadway St,Portland,97232.0,45.534779,-122.642430,4.5,Friendly service. Appreciate the pointers. Gre...,American (Traditional),76
2096,0hnp-Xg51qq9JAv7I1b6xg,Little Big Burger,3704 SW Bond Ave,Portland,97239.0,45.496371,-122.670754,3.0,They said they're going to be out of ice cream...,American (Traditional),79
2202,0nQ0cuUZUhUdr6d5PvDQYA,FuddoYama Ramen,8610 SW Hall Blvd,Beaverton,97008.0,45.458184,-122.783761,4.0,Our favorite ramen shop!,Japanese,121
...,...,...,...,...,...,...,...,...,...,...,...
66962,r1VBBIelTdjwtqE4pKwghA,Ramen Ryoma,10500 SW Beaverton Hillsdale Hwy,Beaverton,97005.0,45.485652,-122.784797,4.5,Killer Spicy Ramen was soo damn good!,Japanese,121
67610,r_sOAVfNPaXrpjznZpuxeg,Papi Chulo's,611 NW 13th Ave,Portland,97209.0,45.527419,-122.684447,4.0,Birra burrito. You're welcome.,Mexican,121
68969,sekbE_TpoPkVWIHMu0uBiA,Saburo's,1667 SE Bybee Blvd,Portland,97202.0,45.473841,-122.648296,3.5,have withdrawn money twice and do not want to ...,Japanese,121
74003,wlEV8uK53BYXf7lZEYBctA,HunnyMilk,1981 W Burnside St,Portland,97209.0,45.523239,-122.692115,4.0,The best!,American (New),121
74413,x4sq4nYqjmeItcGjm8vLbw,Living Room Theaters,341 SW 10th Ave,Portland,97205.0,45.522319,-122.681354,4.0,The best,American (New),93

In [117]:
final_dataset.to_csv('final_dataset.csv')