In [1]:
import pandas as pd
import json
import pprint
from datetime import datetime as dt
from pandas import DataFrame
import time

In [2]:
bus_df = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines=True)
pprint.pprint(bus_df)

                   business_id                     name               address  \
0       6iYb2HFDywm3zjuRg0shjw      Oskar Blues Taproom          921 Pearl St
1       tCbdrRPZA0oiIYSmHG3J0w  Flying Elephants at PDX   7000 NE Airport Way
2       bvN78flM8NLprQ1a1y5dRg           The Reclaimory    4720 Hawthorne Ave
3       oaepsyvc0J17qwi8cfrOWg              Great Clips    2566 Enterprise Rd
4       PE9uqAjdw0E4-8mjGl3wVA        Crossfit Terminus   1046 Memorial Dr SE
...                        ...                      ...                   ...
160580  D2mHoIDXx9N8mS1pGoKV9Q       Eleven Oaks Realty
160581  bQX-kwVTyZgcdZGEPzce6Q             Webb's Honey    21777 State Rd 520
160582  wvFZ06nmPmQ2-IVoPqVYLA    Painting with a Twist  2164 S Chickasaw Trl
160583  GB75wPibj3IjNauaoCxyGA              Havana Cafe        910 NW 14th St
160584  ngmLL5Y5OT-bYHKU0kKrYA              Zora Grille   1370 E Altamonte Dr

                     city state postal_code   latitude   longitude  stars  \
0                 Boulder    CO       80302  40.017544 -105.283348    4.0
1                Portland    OR       97218  45.588906 -122.593331    4.0
2                Portland    OR       97214  45.511907 -122.613693    4.5
3             Orange City    FL       32763  28.914482  -81.295979    3.0
4                 Atlanta    GA       30316  33.747027  -84.353424    4.0
...                   ...   ...         ...        ...         ...    ...
160580             Austin    TX       78701  30.272921  -97.744386    4.0
160581            Orlando    FL       32833  28.499836  -81.047478    4.5
160582            Orlando    FL       32825  28.511615  -81.270020    5.0
160583           Portland    OR       97209  45.529647 -122.685153    4.0
160584  Altamonte Springs    FL       32701  28.663047  -81.346728    4.5

        review_count  is_open  \
0                 86        1
1                126        1
2                 13        1
3                  8        1
4                 14        1
...              ...      ...
160580             8        1
160581            18        1
160582             8        0
160583            10        1
160584            82        0

                                               attributes  \
0       {'RestaurantsTableService': 'True', 'WiFi': 'u...
1       {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...
2       {'BusinessAcceptsCreditCards': 'True', 'Restau...
3       {'RestaurantsPriceRange2': '1', 'BusinessAccep...
4       {'GoodForKids': 'False', 'BusinessParking': '{...
...                                                   ...
160580                                               None
160581  {'RestaurantsTakeOut': 'True', 'RestaurantsPri...
160582  {'DogsAllowed': 'False', 'ByAppointmentOnly': ...
160583  {'RestaurantsTakeOut': 'True', 'RestaurantsDel...
160584  {'RestaurantsReservations': 'True', 'OutdoorSe...

                                               categories  \
0       Gastropubs, Food, Beer Gardens, Restaurants, B...
1       Salad, Soup, Sandwiches, Delis, Restaurants, C...
2       Antiques, Fashion, Used, Vintage & Consignment...
3                              Beauty & Spas, Hair Salons
4       Gyms, Active Life, Interval Training Gyms, Fit...
...                                                   ...
160580  Real Estate, Real Estate Services, Home Servic...
160581      Health Markets, Food, Specialty Food, Grocery
160582  Arts & Entertainment, Paint & Sip, Art Classes...
160583              Cuban, Sandwiches, Restaurants, Cafes
160584  Restaurants, Middle Eastern, Mediterranean, Pe...

                                                    hours
0       {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1       {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
2       {'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...
3                                                    None
4       {'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'...
...                                                   ...
160580  {'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ...
160581  {'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0'...
160582  {'Monday': '0:0-0:0', 'Wednesday': '12:0-17:0'...
160583                                               None
160584  {'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...

[160585 rows x 14 columns]

In [3]:
bus_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [4]:
or_sorted = bus_df.loc[(bus_df['state'] == 'OR')]
or_sorted

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
20,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,OR,97222,45.447598,-122.617427,3.0,7,0,"{'RestaurantsPriceRange2': '1', 'ByAppointment...","Nail Salons, Beauty & Spas","{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'..."
23,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,OR,97210,45.525259,-122.716227,4.5,406,1,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Tours, Museums, Architectural Tours, Venues & ...","{'Monday': '0:0-0:0', 'Thursday': '10:0-16:0',..."
31,_bZOUUc6Sr_W3BxbOUJacw,Prince of Peace,14175 NW Cornell Rd,Portland,OR,97229,45.530958,-122.823780,3.5,5,1,None,"Education, Preschools","{'Monday': '8:0-15:30', 'Tuesday': '8:0-15:30'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160561,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,OR,97239,45.483154,-122.682748,3.5,457,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Event Planning & Services, Steakhouses, Seafoo...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21..."
160562,cgNDiWCaSlqqxx1A6r65bA,Hop N Cork,17450 Lower Boones Ferry Rd,Lake Oswego,OR,97035,45.399154,-122.737600,4.0,137,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Nightlife, Wine Bars, Beer Bar, Bars, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-20:0', ..."
160570,det-KjTfYoG2JfCZG3v04w,Village Home Education Resource Center,5150 SW Watson Ave,Beaverton,OR,97005,45.482428,-122.806687,4.0,9,1,None,"Educational Services, Education",None
160573,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,OR,97224,45.394457,-122.752535,2.0,48,0,"{'RestaurantsDelivery': 'False', 'GoodForKids'...","American (Traditional), Desserts, American (Ne...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
160583,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,OR,97209,45.529647,-122.685153,4.0,10,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Cuban, Sandwiches, Restaurants, Cafes",None

In [5]:
tip_df = pd.read_json('yelp_dataset/yelp_academic_dataset_tip.json', lines=True)
pprint.pprint(tip_df)

                        user_id             business_id  \
0        WCjg0jdHXMlwbqS9tZUx8Q  ENwBByjpoa5Gg7tKgxqwLg
1        42-Z02y9bABShAGZhuSzrQ  jKO4Og6ucdX2-YCTKQVYjg
2        5u7E3LYp_3eB8dLuUBazXQ  9Bto7mky640ocgezVKSfVg
3        wDWoMG5N9oI4DJ-p7z8EBg  XWFjKtRGZ9khRGtGg2ZvaA
4        JmuFlorjjRshHTKzTwNtgg  mkrx0VhSMU3p3uhyJGCoWA
...                         ...                     ...
1162114  OAf2rC_Btse6aRc9LCyApw  BYKjzEUv6RksSVm5yqGPDA
1162115  bI5zqhhpU4SlW-5BN6M1uw  C2kDo2CFGP_0073dgMmZNw
1162116  vDMl9JwvkRNRVt_rjpQdZg  4CxF8c3MB7VAdY8zFb2cZQ
1162117  iCc7UVah7zE1UwYPP3FcTg  IEHoGw0V5Lbdf4TJU58K0Q
1162118  e9x-ZsbUPTVX3Xv_L9vSaw  Mt-6e5pSAft1f3sA8tTOsQ

                                                      text  \
0                                     Carne asada chips...
1        Best happy hour from 3pm to 6pm! $1 off martin...
2        Nice people, skilled staff, clean location - b...
3        1/2-price bowling & the "Very" Old Fashion are...
4        Solid gold's. Great sauna. Great staff, too. E...
...                                                    ...
1162114                                           Perfect!
1162115                    Love these guys! My go to place
1162116                                         Overrated.
1162117  Best place for men, call for an appointment an...
1162118  Fast, friendly, and quality service!!  Would h...

                       date  compliment_count
0       2011-07-22 19:07:35                 0
1       2014-09-10 07:33:29                 0
2       2013-12-13 23:23:41                 0
3       2017-07-11 23:07:16                 0
4       2016-11-30 08:46:36                 0
...                     ...               ...
1162114 2020-05-30 20:01:46                 0
1162115 2015-07-18 17:21:40                 0
1162116 2020-07-23 04:02:10                 0
1162117 2020-09-23 23:16:57                 0
1162118 2020-09-30 04:24:08                 0

[1162119 rows x 5 columns]

In [6]:
clean_tip_df = tip_df.dropna(how='all')

dated_tip_df = pd.to_datetime(tip_df["date"])
sorted_tip_df = tip_df.sort_values(["date"], ascending= False)
sorted_tip_df.head()

,user_id,business_id,text,date,compliment_count
669130,q4YuIIWaekF_lrYFCG440A,I2OblwJG8_XzFxxoHU0vVQ,Surgeries are only completed on Thursdays only...,2021-01-28 14:20:15,0
820468,63UoTNVbHn35th-pgp6UKw,vQ0ihvqI0Xpz8TxBIKK_qg,Best donuts in town. Staff is super friendly.,2021-01-28 14:11:48,0
508765,Ouz4R8N4pDyYBqML6zb-ZA,7rEr-_j7NT2YZMFIi3KdpA,Temporarily closed today due to covid.,2021-01-28 14:01:20,0
656329,Q_fbXeB2HyRg6CmctrICKw,wegBPIo-9hnuEtAaY2xYvw,Try the chocolate cookie-ice cream sandwich. ...,2021-01-28 13:26:55,0
1148517,eseZ_gMjqBQMtyHyPpDMLA,t5EgwRXG6MZSihdqugOSKg,Great place,2021-01-28 11:57:22,0

In [7]:
relevant_tip_df = sorted_tip_df[sorted_tip_df['date'] > "2019-1-1"]
relevant_tip_df

,user_id,business_id,text,date,compliment_count
669130,q4YuIIWaekF_lrYFCG440A,I2OblwJG8_XzFxxoHU0vVQ,Surgeries are only completed on Thursdays only...,2021-01-28 14:20:15,0
820468,63UoTNVbHn35th-pgp6UKw,vQ0ihvqI0Xpz8TxBIKK_qg,Best donuts in town. Staff is super friendly.,2021-01-28 14:11:48,0
508765,Ouz4R8N4pDyYBqML6zb-ZA,7rEr-_j7NT2YZMFIi3KdpA,Temporarily closed today due to covid.,2021-01-28 14:01:20,0
656329,Q_fbXeB2HyRg6CmctrICKw,wegBPIo-9hnuEtAaY2xYvw,Try the chocolate cookie-ice cream sandwich. ...,2021-01-28 13:26:55,0
1148517,eseZ_gMjqBQMtyHyPpDMLA,t5EgwRXG6MZSihdqugOSKg,Great place,2021-01-28 11:57:22,0
...,...,...,...,...,...
431164,K-2-4KsCg_fEvc7xrS5yyA,viqkunBBI6QOIZehME-7gg,Great,2019-01-01 00:35:54,0
399487,TSHoVpWNd-mwjAw_kkSOfQ,zmRHDJq8qgWoVYobHL2ggg,Go buy an Android. This mall kiosk is a joke. ...,2019-01-01 00:31:17,0
435268,aBQZ_rREkyaQRpH9XjnjSA,tUhIIaYSjBuSbJzcf6CGIg,"Good stuff, always fresh and hot!",2019-01-01 00:27:50,0
952571,bMGIATKbYqPu8lkyLirvBw,bORoF6fOYu39jHgzNyiKiA,The bathroom doors aren't marked! The Japanese...,2019-01-01 00:15:42,0
1005768,yd9N1h-A8SrMnh6HtqHXiA,KAD2Vk1_qXX_utyv8Ndsow,Not a lot of good to say. Limited menu. Limit...,2019-01-01 00:05:28,0

In [8]:
bus_tip_merged = pd.merge(or_sorted, relevant_tip_df, how ='left')
bus_tip_merged

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,user_id,text,date,compliment_count
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...",KZt0oX86xm9JeMjCu3PP-w,Mmmmmmmm so good,2019-06-25 18:21:12,0.0
1,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...",NaN,NaN,NaT,NaN
2,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,OR,97222,45.447598,-122.617427,3.0,7,0,"{'RestaurantsPriceRange2': '1', 'ByAppointment...","Nail Salons, Beauty & Spas","{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'...",NaN,NaN,NaT,NaN
3,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,OR,97210,45.525259,-122.716227,4.5,406,1,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Tours, Museums, Architectural Tours, Venues & ...","{'Monday': '0:0-0:0', 'Thursday': '10:0-16:0',...",nxNO7_6U2Nu90v0IdnEhIg,Mansion sits on 46 acres.\nView of Mt. Hood.\n...,2019-11-22 06:30:06,0.0
4,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,OR,97210,45.525259,-122.716227,4.5,406,1,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Tours, Museums, Architectural Tours, Venues & ...","{'Monday': '0:0-0:0', 'Thursday': '10:0-16:0',...",RlnqZVl2swWXm9KCQaHHSQ,The park towards the back of the Mansion (faci...,2019-10-27 12:58:04,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35260,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,OR,97239,45.483154,-122.682748,3.5,457,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Event Planning & Services, Steakhouses, Seafoo...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21...",YmH8DxMBRJXlt_gJ2ouI6w,They're still back\n\nAlright!!,2019-03-20 22:10:20,0.0
35261,cgNDiWCaSlqqxx1A6r65bA,Hop N Cork,17450 Lower Boones Ferry Rd,Lake Oswego,OR,97035,45.399154,-122.737600,4.0,137,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Nightlife, Wine Bars, Beer Bar, Bars, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-20:0', ...",NaN,NaN,NaT,NaN
35262,det-KjTfYoG2JfCZG3v04w,Village Home Education Resource Center,5150 SW Watson Ave,Beaverton,OR,97005,45.482428,-122.806687,4.0,9,1,None,"Educational Services, Education",None,NaN,NaN,NaT,NaN
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,OR,97224,45.394457,-122.752535,2.0,48,0,"{'RestaurantsDelivery': 'False', 'GoodForKids'...","American (Traditional), Desserts, American (Ne...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",NaN,NaN,NaT,NaN
35264,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,OR,97209,45.529647,-122.685153,4.0,10,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Cuban, Sandwiches, Restaurants, Cafes",None,NaN,NaN,NaT,NaN

In [9]:
dropped_merged = bus_tip_merged.drop(['state', 'review_count', 'is_open', 'attributes', 'hours', 'user_id', 'text', 'compliment_count', 'date'], axis=1)
dropped_merged

,business_id,name,address,city,postal_code,latitude,longitude,stars,categories
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,97218,45.588906,-122.593331,4.0,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
1,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,97214,45.511907,-122.613693,4.5,"Antiques, Fashion, Used, Vintage & Consignment..."
2,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,97222,45.447598,-122.617427,3.0,"Nail Salons, Beauty & Spas"
3,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ..."
4,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ..."
...,...,...,...,...,...,...,...,...,...
35260,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,97239,45.483154,-122.682748,3.5,"Event Planning & Services, Steakhouses, Seafoo..."
35261,cgNDiWCaSlqqxx1A6r65bA,Hop N Cork,17450 Lower Boones Ferry Rd,Lake Oswego,97035,45.399154,-122.737600,4.0,"Nightlife, Wine Bars, Beer Bar, Bars, Restaura..."
35262,det-KjTfYoG2JfCZG3v04w,Village Home Education Resource Center,5150 SW Watson Ave,Beaverton,97005,45.482428,-122.806687,4.0,"Educational Services, Education"
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,"American (Traditional), Desserts, American (Ne..."
35264,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,97209,45.529647,-122.685153,4.0,"Cuban, Sandwiches, Restaurants, Cafes"

In [10]:
for col in dropped_merged:
    print (dropped_merged[col].apply(type))

0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: business_id, Length: 35265, dtype: object
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: name, Length: 35265, dtype: object
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: address, Length: 35265, dtype: object
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: city, Length: 35265, dtype: object
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: postal_code, Length: 35265, dtype: object
0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
35260    <class 'float'>
35261    <class 'float'>
35262    <class 'float'>
35263    <class 'float'>
35264    <class 'float'>
Name: latitude, Length: 35265, dtype: object
0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
35260    <class 'float'>
35261    <class 'float'>
35262    <class 'float'>
35263    <class 'float'>
35264    <class 'float'>
Name: longitude, Length: 35265, dtype: object
0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
35260    <class 'float'>
35261    <class 'float'>
35262    <class 'float'>
35263    <class 'float'>
35264    <class 'float'>
Name: stars, Length: 35265, dtype: object
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
35260    <class 'str'>
35261    <class 'str'>
35262    <class 'str'>
35263    <class 'str'>
35264    <class 'str'>
Name: categories, Length: 35265, dtype: object

In [11]:
uniq_cities = dropped_merged["city"].value_counts()
uniq_cities

Portland           25439
Beaverton           3494
Tigard              1400
Lake Oswego          976
Clackamas            615
                   ...
Rockwood               1
PORTLAND AP            1
CLACKAMAS              1
Lake Oswego, OR        1
Damascas               1
Name: city, Length: 78, dtype: int64

In [12]:
city_list = dropped_merged["city"].unique()
city_list

array(['Portland', 'Tigard', 'Happy Valley', 'Clackamas', 'Lake Oswego',
       'Milwaukie', 'Tualatin', 'Beaverton', 'Gladstone', 'Gresham',
       'Oregon City', 'Hillsboro', 'West Linn', 'Aloha', 'Damascus',
       'Oak Grove', 'Milwaukee', 'TIGARD', 'Sherwood', 'North Portland',
       'King City', 'Rockwood', 'NE Portland', 'PORTLAND', 'Lake Grove',
       'Silverton', 'Tigard (Portland)', 'Durham', 'portland', 'Hillsbor',
       'Porltand', 'Milwauke', 'Phoenix', 'Fairview', 'TIgard', 'OR',
       'Washington County', 'Sellwood', 'beaverton Or', 'Boring',
       'CLACKAMAS', 'Wilsonville', 'West linn', 'Beavercreek',
       'MILWAUKIE', 'Bend', 'Troutland', 'Vancouver', 'Marylhurst',
       'Portland-Gateway Plaza', 'Prontland', 'Mission Viejo',
       'Lake Oswego, OR', 'milwaukie', 'Portand', 'Tillamoo', 'Damascas',
       'Portland, OR', 'HILLSBORO', 'Medford', 'Salem', 'BEAVERTON',
       'St Johns', 'Rivergrove', 'Happy valley', 'Lake Owego',
       'Northwest Clackamas', 'Historic Milwaukie', 'beaverton',
       'Beaverton (Portland)', 'Milwaulkie', 'San dy', 'Milwuakie',
       'Portland-Eastport Plaza', 'PORTLAND AP', 'Beaverton-Aloha',
       'Portland Oregon', 'Delta Park'], dtype=object)

In [13]:
cities = ['Portland', 'Beaverton', 'Tigard', 'Lake Oswego', 'Clackmas']
smaller_df = dropped_merged.loc[dropped_merged['city'].isin(cities)]
smaller_df

,business_id,name,address,city,postal_code,latitude,longitude,stars,categories
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,97218,45.588906,-122.593331,4.0,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
1,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,97214,45.511907,-122.613693,4.5,"Antiques, Fashion, Used, Vintage & Consignment..."
2,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,97222,45.447598,-122.617427,3.0,"Nail Salons, Beauty & Spas"
3,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ..."
4,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ..."
...,...,...,...,...,...,...,...,...,...
35260,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,97239,45.483154,-122.682748,3.5,"Event Planning & Services, Steakhouses, Seafoo..."
35261,cgNDiWCaSlqqxx1A6r65bA,Hop N Cork,17450 Lower Boones Ferry Rd,Lake Oswego,97035,45.399154,-122.737600,4.0,"Nightlife, Wine Bars, Beer Bar, Bars, Restaura..."
35262,det-KjTfYoG2JfCZG3v04w,Village Home Education Resource Center,5150 SW Watson Ave,Beaverton,97005,45.482428,-122.806687,4.0,"Educational Services, Education"
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,"American (Traditional), Desserts, American (Ne..."
35264,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,97209,45.529647,-122.685153,4.0,"Cuban, Sandwiches, Restaurants, Cafes"

In [14]:
even_smaller_df = smaller_df.drop_duplicates(subset=['business_id'])
even_smaller_df

,business_id,name,address,city,postal_code,latitude,longitude,stars,categories
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,97218,45.588906,-122.593331,4.0,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
1,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,97214,45.511907,-122.613693,4.5,"Antiques, Fashion, Used, Vintage & Consignment..."
2,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,97222,45.447598,-122.617427,3.0,"Nail Salons, Beauty & Spas"
3,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ..."
6,_bZOUUc6Sr_W3BxbOUJacw,Prince of Peace,14175 NW Cornell Rd,Portland,97229,45.530958,-122.823780,3.5,"Education, Preschools"
...,...,...,...,...,...,...,...,...,...
35259,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,97239,45.483154,-122.682748,3.5,"Event Planning & Services, Steakhouses, Seafoo..."
35261,cgNDiWCaSlqqxx1A6r65bA,Hop N Cork,17450 Lower Boones Ferry Rd,Lake Oswego,97035,45.399154,-122.737600,4.0,"Nightlife, Wine Bars, Beer Bar, Bars, Restaura..."
35262,det-KjTfYoG2JfCZG3v04w,Village Home Education Resource Center,5150 SW Watson Ave,Beaverton,97005,45.482428,-122.806687,4.0,"Educational Services, Education"
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,"American (Traditional), Desserts, American (Ne..."
35264,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,97209,45.529647,-122.685153,4.0,"Cuban, Sandwiches, Restaurants, Cafes"

In [15]:
unique_cats = [val.strip() for sublist in even_smaller_df.categories.dropna().str.split(",").tolist() for val in sublist]
unique_cats

['Salad',
 'Soup',
 'Sandwiches',
 'Delis',
 'Restaurants',
 'Cafes',
 'Vegetarian',
 'Antiques',
 'Fashion',
 'Used',
 'Vintage & Consignment',
 'Shopping',
 'Furniture Stores',
 'Home & Garden',
 'Nail Salons',
 'Beauty & Spas',
 'Tours',
 'Museums',
 'Architectural Tours',
 'Venues & Event Spaces',
 'Landmarks & Historical Buildings',
 'Hotels & Travel',
 'Arts & Entertainment',
 'Community Service/Non-Profit',
 'Local Services',
 'Event Planning & Services',
 'Public Services & Government',
 'Historical Tours',
 'Education',
 'Preschools',
 'Acupuncture',
 'Prenatal/Perinatal Care',
 'Health & Medical',
 'Massage Therapy',
 'Chiropractors',
 'Nightlife',
 'Sandwiches',
 'Seafood',
 'Restaurants',
 'Oil Change Stations',
 'Auto Repair',
 'Tires',
 'Automotive',
 'Vegetarian',
 'Vegan',
 'Sandwiches',
 'Soup',
 'American (New)',
 'Fast Food',
 'Restaurants',
 'Wraps',
 'American (Traditional)',
 'Flooring',
 'Hardware Stores',
 'Home Services',
 'Shopping',
 'Home & Garden',
 'Building Supplies',
 'Carpenters',
 'Painters',
 'Damage Restoration',
 'Home Services',
 'Decks & Railing',
 'Contractors',
 'Shopping',
 'Art Galleries',
 'Arts & Entertainment',
 'Food',
 'Ice Cream & Frozen Yogurt',
 'Food Stands',
 'Restaurants',
 'Sandwiches',
 'Restaurants',
 'Food',
 'Sandwiches',
 'Breakfast & Brunch',
 'Gluten-Free',
 'Coffee & Tea',
 'Bagels',
 'Convenience Stores',
 'Food',
 'Do-It-Yourself Food',
 'Restaurants',
 'American (Traditional)',
 'Active Life',
 'Grocery',
 'Food',
 'Local Flavor',
 'Specialty Food',
 'Kids Activities',
 'Cafes',
 'Delis',
 'Restaurants',
 'Mexican',
 'Food Trucks',
 'Food',
 'Food Stands',
 'Cosmetic Dentists',
 'Oral Surgeons',
 'Dentists',
 'Health & Medical',
 'General Dentistry',
 'Sushi Bars',
 'Restaurants',
 'Used',
 'Vintage & Consignment',
 'Baby Gear & Furniture',
 "Children's Clothing",
 'Shopping',
 'Fashion',
 'Health & Medical',
 'Retirement Homes',
 'Towing',
 'Automotive',
 'Videos & Video Game Rental',
 'Books',
 'Mags',
 'Music & Video',
 'Shopping',
 'Music & DVDs',
 'Arcades',
 'Arts & Entertainment',
 'Oral Surgeons',
 'Dentists',
 'Health & Medical',
 'Automotive',
 'Auto Repair',
 'Mexican',
 'Restaurants',
 'Tacos',
 'Breakfast & Brunch',
 'Shopping',
 'Party & Event Planning',
 'Art Schools',
 'Art Galleries',
 'Specialty Schools',
 'Event Planning & Services',
 'Nightlife',
 'Art Classes',
 'Paint & Sip',
 'Education',
 'Arts & Entertainment',
 'Keys & Locksmiths',
 'Garage Door Services',
 'Home Services',
 'Restaurants',
 'Dim Sum',
 'Chinese',
 'Mediterranean',
 'Food',
 'Restaurants',
 'Food Trucks',
 'Optometrists',
 'Health & Medical',
 'Eyewear & Opticians',
 'Doctors',
 'Shopping',
 'Pharmacy',
 'Ophthalmologists',
 "Women's Clothing",
 'Shopping',
 'Fashion',
 'Health & Medical',
 'Yoga',
 'Active Life',
 'Fitness & Instruction',
 'Local Services',
 'Laundry Services',
 'Dry Cleaning & Laundry',
 'Coffee & Tea',
 'Restaurants',
 'Food',
 'Delis',
 'Restaurants',
 'Caterers',
 'Event Planning & Services',
 'Vietnamese',
 'Venues & Event Spaces',
 'Event Planning & Services',
 'Public Services & Government',
 'Music Venues',
 'Community Centers',
 'Arts & Entertainment',
 'Nightlife',
 'Restaurants',
 'Cafes',
 'Food',
 'Coffee & Tea',
 'Health & Medical',
 'Beauty & Spas',
 'Massage',
 'Fitness & Instruction',
 'Active Life',
 'Massage Therapy',
 'Yoga',
 'Family Practice',
 'Health & Medical',
 'Doctors',
 'Local Services',
 'Property Management',
 'Home & Garden',
 'Shopping',
 'Real Estate',
 'Home Cleaning',
 'Contractors',
 'Carpet Cleaning',
 'Home Services',
 'Real Estate Services',
 'Tires',
 'Automotive',
 'Wheel & Rim Repair',
 'Food Stands',
 'Thai',
 'Soup',
 'Restaurants',
 'Restaurants',
 'Food Trucks',
 'Food Stands',
 'Food',
 'Middle Eastern',
 'Persian/Iranian',
 'Mediterranean',
 'Shopping',
 'Home & Garden',
 'Mattresses',
 'Automotive',
 'Auto Repair',
 'Veterinarians',
 'Pets',
 'Filipino',
 'Convenience Stores',
 'Food',
 'Restaurants',
 'Specialty Food',
 'Grocery',
 'International Grocery',
 'Restaurants',
 'Cajun/Creole',
 'Food',
 'Southern',
 'Food Trucks',
 'Donuts',
 'Seafood',
 'Shopping',
 'Eyewear & Opticians',
 'Delis',
 'Restaurants',
 'Shopping',
 'Department Stores',
 'Fashion',
 'Financial Services',
 'Professional Services',
 'Accountants',
 'Financial Advising',
 'Tax Services',
 'Food',
 'Grocery',
 'Bakeries',
 'Shopping',
 'Drugstores',
 'Restaurants',
 'Thai',
 'Pest Control',
 'Local Services',
 'Home Services',
 'Appliances & Repair',
 'Heating & Air Conditioning/HVAC',
 'Local Services',
 'Food',
 'Beer',
 'Wine & Spirits',
 'Restaurants',
 'Fast Food',
 'Pizza',
 'Gluten-Free',
 'Automotive',
 'Auto Repair',
 'Auto Parts & Supplies',
 'Shopping',
 'Fashion',
 "Women's Clothing",
 'Bridal',
 'Used',
 'Vintage & Consignment',
 'Plus Size Fashion',
 'Bars',
 'Wine Bars',
 'Food',
 'Nightlife',
 'Restaurants',
 'Seafood',
 'Desserts',
 'Home Services',
 'Local Services',
 'Heating & Air Conditioning/HVAC',
 'Professional Services',
 'Pizza',
 'Restaurants',
 'Italian',
 'Local Flavor',
 'Hotels & Travel',
 'Tours',
 'Food Stands',
 'Food',
 'Thai',
 'Food Trucks',
 'Bubble Tea',
 'Restaurants',
 'Coffee & Tea',
 'Restaurants',
 'Fast Food',
 'Burgers',
 'Food',
 'Shoe Stores',
 'Shoe Repair',
 'Shopping',
 'Fashion',
 'Local Services',
 'Automotive',
 'Auto Repair',
 'Beauty & Spas',
 'Skin Care',
 'Medical Centers',
 'Laser Hair Removal',
 'Health & Medical',
 'Body Contouring',
 'Medical Spas',
 'Hair Removal',
 'Pubs',
 'Restaurants',
 'Nightlife',
 'Breakfast & Brunch',
 'Bars',
 'Japanese',
 'Cocktail Bars',
 'Education',
 'Health & Medical',
 'Colleges & Universities',
 'Acupuncture',
 'Naturopathic/Holistic',
 'Doctors',
 'Nail Salons',
 'Beauty & Spas',
 'Food',
 'Fast Food',
 'Restaurants',
 'Coffee & Tea',
 'Burgers',
 'Motorcycle Dealers',
 'Automotive',
 'Juice Bars & Smoothies',
 'Cafes',
 'Mexican',
 'Vegetarian',
 'Restaurants',
 'American (New)',
 'Food',
 'Vegan',
 'Salad',
 'Pizza',
 'Restaurants',
 'Hair Salons',
 'Beauty & Spas',
 'Home Services',
 'Farms',
 'Specialty Food',
 'Local Flavor',
 'Food',
 'Plumbing',
 'Fruits & Veggies',
 'Arts & Entertainment',
 'Attraction Farms',
 'Home Decor',
 'Pumpkin Patches',
 'Home & Garden',
 'Christmas Trees',
 'Farmers Market',
 'Shopping',
 'Bars',
 'Restaurants',
 'American (New)',
 'American (Traditional)',
 'Sports Bars',
 'Nightlife',
 "Men's Hair Salons",
 'Hair Salons',
 'Beauty & Spas',
 'Barbers',
 'Hair Stylists',
 'Restaurants',
 'Grocery',
 'Mexican',
 'Specialty Food',
 'Food',
 'Shopping',
 'Fashion',
 'Department Stores',
 'Bakeries',
 'Custom Cakes',
 'Desserts',
 'Food',
 'Massage Therapy',
 'Beauty & Spas',
 'Massage',
 'Health & Medical',
 'Automotive',
 'Body Shops',
 'Auto Repair',
 'Windshield Installation & Repair',
 'Restaurants',
 'Seafood',
 'American (Traditional)',
 'Cafes',
 'American (Traditional)',
 'Restaurants',
 'Breakfast & Brunch',
 'American (New)',
 'Nightlife',
 'Bars',
 'Karaoke',
 'Restaurants',
 'Pets',
 'Pet Training',
 'Pet Stores',
 'Pet Services',
 'Pet Groomers',
 'Nightlife',
 'Music Venues',
 'Vegetarian',
 'Arts & Entertainment',
 'Lounges',
 'Restaurants',
 'Mass Media',
 'Print Media',
 'Bars',
 'Sporting Goods',
 'Skate Shops',
 'Shopping',
 'Fashion',
 'Outdoor Gear',
 'Sports Wear',
 'Beauty & Spas',
 'Barbers',
 'Hair Salons',
 'Skin Care',
 'Beauty & Spas',
 'Hair Removal',
 'Hair Salons',
 'Nail Salons',
 'Cafes',
 'Restaurants',
 'Delis',
 'Sandwiches',
 'Financial Services',
 'Banks & Credit Unions',
 'Massage',
 'Massage Therapy',
 'Health & Medical',
 'Accessories',
 'Active Life',
 'Fitness & Instruction',
 'Beauty & Spas',
 'Fashion',
 'Yoga',
 'Shopping',
 'Pediatric Dentists',
 'Cosmetic Dentists',
 'General Dentistry',
 'Dentists',
 'Health & Medical',
 'Automotive',
 'Auto Repair',
 'Health & Medical',
 'Counseling & Mental Health',
 'Bars',
 'Food',
 'Restaurants',
 'Beer',
 'Wine & Spirits',
 'Nightlife',
 'Italian',
 'Wine Bars',
 'Cocktail Bars',
 'Restaurants',
 'Fast Food',
 'Breakfast & Brunch',
 'Tacos',
 'Mexican',
 'Tex-Mex',
 'Shopping',
 'Swimwear',
 'Fashion',
 'Bars',
 'Lounges',
 'Arts & Entertainment',
 'Music Venues',
 'Nightlife',
 'Chinese',
 'Restaurants',
 'Fast Food',
 'Comfort Food',
 'Food',
 'Italian',
 'Food Trucks',
 'Burgers',
 'Restaurants',
 'Shopping',
 'Local Services',
 'Office Equipment',
 'Engraving',
 'Food',
 'Coffee & Tea',
 'Beauty & Spas',
 'Nail Salons',
 'Hotels',
 'Event Planning & Services',
 'Hotels & Travel',
 'Shopping',
 "Men's Clothing",
 'Fashion',
 'Accessories',
 "Women's Clothing",
 'Beauty & Spas',
 'Hair Salons',
 'Accessories',
 'Professional Services',
 'Sewing & Alterations',
 'Shopping',
 'Local Services',
 "Women's Clothing",
 'Fashion',
 'Health & Medical',
 'General Dentistry',
 'Cosmetic Dentists',
 'Dentists',
 'Orthodontists',
 'Endodontists',
 'Cafes',
 'American (Traditional)',
 'Restaurants',
 'Bars',
 'Jazz & Blues',
 'Arts & Entertainment',
 'Nightlife',
 'Music Venues',
 'Car Brokers',
 'Automotive',
 'Used Car Dealers',
 'Car Dealers',
 'Bike Rentals',
 'Hotels & Travel',
 'Active Life',
 'Transportation',
 'Bike Sharing',
 'Restaurants',
 'Mexican',
 'Barbeque',
 'Food',
 'Tacos',
 'Food Trucks',
 'Sporting Goods',
 'Skate Shops',
 'Active Life',
 'Private Tutors',
 'Education',
 'Skating Rinks',
 'Shopping',
 'Specialty Schools',
 'Tobacco Shops',
 'Beer',
 'Wine & Spirits',
 'Shopping',
 'Food',
 'Cocktail Bars',
 'Restaurants',
 'American (New)',
 'Salad',
 'Nightlife',
 'Bars',
 'Sandwiches',
 'Beauty & Spas',
 'Massage',
 'Guns & Ammo',
 'Shopping',
 'Local Services',
 'Photography Stores & Services',
 'Shopping',
 'Printing Services',
 'Naturopathic/Holistic',
 'Doctors',
 'Counseling & Mental Health',
 'Massage Therapy',
 'Health & Medical',
 'Chiropractors',
 'Acupuncture',
 'Sports Bars',
 'Breweries',
 'Nightlife',
 'Pubs',
 'Food',
 'Bars',
 'Nightlife',
 'Local Flavor',
 'Restaurants',
 'Music Venues',
 'Pubs',
 'Bars',
 'Arts & Entertainment',
 'Korean',
 'Coffee & Tea',
 'Restaurants',
 'Food',
 'Tattoo',
 'Beauty & Spas',
 'Asian Fusion',
 'Mediterranean',
 'Comfort Food',
 'American (Traditional)',
 'Italian',
 'Noodles',
 'Restaurants',
 'Makeup Artists',
 'Beauty & Spas',
 'Hair Salons',
 'Local Services',
 'Pressure Washers',
 'Fences & Gates',
 'Gutter Services',
 'Lawn Services',
 'Junk Removal & Hauling',
 'Landscaping',
 'Home Services',
 'Roofing',
 'Home Services',
 'Handyman',
 'Siding',
 'Gutter Services',
 'Contractors',
 'Automotive',
 'Auto Detailing',
 'Car Wash',
 'Restaurants',
 'Mediterranean',
 'Halal',
 'Middle Eastern',
 'Steakhouses',
 'Restaurants',
 'Public Services & Government',
 'Departments of Motor Vehicles',
 'Chiropractors',
 'Massage Therapy',
 'Health & Medical',
 'Beauty & Spas',
 'Nail Salons',
 'Massage',
 'Yoga',
 'Massage Therapy',
 'Health & Medical',
 'Fitness & Instruction',
 'Active Life',
 'Beauty & Spas',
 'Food',
 'Coffee & Tea',
 'Bars',
 'Nightlife',
 'Adult Entertainment',
 'Desserts',
 'Food',
 'American (New)',
 'Restaurants',
 'Bakeries',
 'Breakfast & Brunch',
 'Car Dealers',
 'Hotels & Travel',
 'Automotive',
 'Auto Repair',
 'Car Rental',
 'Chinese',
 'Vietnamese',
 'Restaurants',
 'Asian Fusion',
 'Thai',
 'Mediterranean',
 'Food',
 'Bars',
 'Vegetarian',
 'Food Trucks',
 'Gluten-Free',
 'Nightlife',
 'Middle Eastern',
 'Restaurants',
 'Tires',
 'Body Shops',
 'Auto Repair',
 'Windshield Installation & Repair',
 'Automotive',
 'Auto Parts & Supplies',
 'Tapas Bars',
 'Restaurants',
 'Private Tutors',
 'Education',
 'Wedding Planning',
 'Event Planning & Services',
 'Specialty Schools',
 'Team Building Activities',
 'Party & Event Planning',
 'DJs',
 'Plumbing',
 'Home Services',
 'Trainers',
 'Active Life',
 'Gyms',
 'Fitness & Instruction',
 'Boot Camps',
 'Hair Salons',
 'Beauty & Spas',
 'Barbers',
 'Acupuncture',
 'Health & Medical',
 'Shared Office Spaces',
 'Home Services',
 'Real Estate',
 'Food Trucks',
 'Food',
 'Restaurants',
 'Mexican',
 'Restaurants',
 'Food Stands',
 'Mexican',
 'Cosmetic Dentists',
 'Dentists',
 'General Dentistry',
 'Health & Medical',
 'Sporting Goods',
 'Bikes',
 'Sports Wear',
 'Shopping',
 'Outdoor Gear',
 'Fashion',
 'Restaurants',
 'Food Stands',
 'Kebab',
 'Persian/Iranian',
 'Fast Food',
 'Delis',
 'Sandwiches',
 'Food',
 'Burgers',
 'Restaurants',
 'Auto Parts & Supplies',
 'Automotive',
 'Automotive',
 'Towing',
 'Property Management',
 'Real Estate',
 'Home Services',
 'Plumbing',
 'Home Services',
 'Home Services',
 'Carpeting',
 'Home & Garden',
 'Flooring',
 'Building Supplies',
 'Shopping',
 'Beauty & Spas',
 'Hair Salons',
 'Dive Bars',
 'Music Venues',
 'Nightlife',
 'Karaoke',
 'Arts & Entertainment',
 'Bars',
 'Auto Repair',
 'Automotive',
 'Oil Change Stations',
 'Tires',
 'Shopping',
 'Health & Medical',
 'Eyewear & Opticians',
 'Optometrists',
 'Sports Wear',
 'Fashion',
 "Women's Clothing",
 'Shopping',
 "Children's Clothing",
 'Sporting Goods',
 "Men's Clothing",
 'Massage',
 'Beauty & Spas',
 'Health & Medical',
 'Hair Removal',
 'Skin Care',
 'Waxing',
 'Estheticians',
 'Massage Therapy',
 'Eyelash Service',
 'Bars',
 'Dive Bars',
 'Nightlife',
 'Orthopedists',
 'Pediatricians',
 'Doctors',
 'Acupuncture',
 'Health & Medical',
 'Shopping',
 'Luggage',
 'Food',
 'Italian',
 'Food Trucks',
 'Restaurants',
 'Food Stands',
 'Shopping',
 'Jewelry',
 'Shopping',
 'Shoe Stores',
 'Fashion',
 'Beauty & Spas',
 'Permanent Makeup',
 'Piercing',
 'Tattoo',
 'Food',
 'Donuts',
 'Employment Agencies',
 'Professional Services',
 'Vegetarian',
 'Restaurants',
 'Vegan',
 'Day Spas',
 'Nail Salons',
 'Beauty & Spas',
 'Hair Removal',
 'Nail Technicians',
 'Reflexology',
 'Health & Medical',
 'Waxing',
 'Electronics',
 'Home & Garden',
 'Fashion',
 'Shopping',
 'Department Stores',
 'Furniture Stores',
 'Food',
 'Coffee & Tea',
 'Restaurants',
 'Seafood',
 'Gay Bars',
 'Bars',
 'Nightlife',
 'Party & Event Planning',
 'Beauty & Spas',
 'Clowns',
 'Makeup Artists',
 'Event Planning & Services',
 'Face Painting',
 'Hair Salons',
 'Hair Stylists',
 'Beauty & Spas',
 'Restaurants',
 'Hot Dogs',
 'American (Traditional)',
 'Food Stands',
 'Food',
 'Restaurants',
 'Shopping',
 'Chinese',
 'Home & Garden',
 'Nurseries & Gardening',
 'Heating & Air Conditioning/HVAC',
 'Home Services',
 'Local Services',
 'Coffee Roasteries',
 'Coffee & Tea',
 'Food',
 'Accountants',
 'Tax Services',
 'Financial Services',
 'Professional Services',
 'Home & Garden',
 'Shopping',
 'Appliances',
 'Local Services',
 'Sewing & Alterations',
 'Appliances & Repair',
 'Pizza',
 'Italian',
 'Restaurants',
 'Restaurants',
 'Latin American',
 'Bars',
 'American (New)',
 'Restaurants',
 'Nightlife',
 'Barbeque',
 'Korean',
 'Restaurants',
 'Arts & Entertainment',
 'Art Galleries',
 'Shopping',
 'Event Planning & Services',
 'Wedding Planning',
 'Caterers',
 'Food',
 'Food Delivery Services',
 'Discount Store',
 'Fashion',
 'Department Stores',
 'Electronics',
 'Shopping',
 'Drugstores',
 'Food',
 'Grocery',
 'Gyms',
 'Trainers',
 'Active Life',
 'Yoga',
 'Fitness & Instruction',
 'Sports Clubs',
 'Roofing',
 'Contractors',
 'Home Services',
 'Coffee & Tea',
 'Convenience Stores',
 'Food',
 'Flooring',
 'Home Services',
 'Tiling',
 'Refinishing Services',
 'Fitness & Instruction',
 'Gyms',
 'Yoga',
 'Acupuncture',
 'Nutritionists',
 'Active Life',
 'Health & Medical',
 'Trainers',
 'Pizza',
 'Restaurants',
 'Italian',
 'Chicken Wings',
 'Kosher',
 'Food',
 'Halal',
 'Food Trucks',
 'Restaurants',
 'Barbeque',
 'Health & Medical',
 'Family Practice',
 'Doctors',
 'Urgent Care',
 'Used Car Dealers',
 'Car Dealers',
 'Automotive',
 'American (Traditional)',
 'Soul Food',
 'Southern',
 'Barbeque',
 'Comfort Food',
 'Restaurants',
 'Flowers & Gifts',
 'Home & Garden',
 'Jewelry',
 'Personal Shopping',
 'Shopping',
 'Home Decor',
 'Used Car Dealers',
 'Car Dealers',
 'Body Shops',
 'RV Dealers',
 'RV Repair',
 'Commercial Truck Dealers',
 'Automotive',
 'Auto Repair',
 'Commercial Truck Repair',
 'Acupuncture',
 'Doctors',
 'Health & Medical',
 'Medical Centers',
 'Chiropractors',
 'Naturopathic/Holistic',
 'Hair Salons',
 'Beauty & Spas',
 'Accountants',
 'Financial Services',
 'Tax Services',
 'Professional Services',
 'Local Services',
 'Notaries',
 'Financial Advising',
 'Fashion',
 'Shopping',
 'Home Decor',
 "Children's Clothing",
 'Home & Garden',
 'Baby Gear & Furniture',
 'Furniture Stores',
 'Pizza',
 'Salad',
 'Italian',
 'Restaurants',
 'Food',
 ...]

In [16]:
unique_cats_df = pd.DataFrame(unique_cats, columns=['categories'])
unique_cats_df

            categories
0                Salad
1                 Soup
2           Sandwiches
3                Delis
4          Restaurants
...                ...
101247  Wine & Spirits
101248           Cuban
101249      Sandwiches
101250     Restaurants
101251           Cafes

[101252 rows x 1 columns]

In [17]:
unique_cats_df['categories'].value_counts()

Restaurants                6665
Food                       4523
Shopping                   3959
Home Services              2467
Health & Medical           2283
                           ...
Traffic Ticketing Law         1
Gemstones & Minerals          1
Land Surveying                1
Animal Assisted Therapy       1
Bus Rental                    1
Name: categories, Length: 1163, dtype: int64

In [18]:
cat_split = even_smaller_df['categories'].str.split(',', expand= True)
cat_split.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Salad,Soup,Sandwiches,Delis,Restaurants,Cafes,Vegetarian,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Antiques,Fashion,Used,Vintage & Consignment,Shopping,Furniture Stores,Home & Garden,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Nail Salons,Beauty & Spas,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Tours,Museums,Architectural Tours,Venues & Event Spaces,Landmarks & Historical Buildings,Hotels & Travel,Arts & Entertainment,Community Service/Non-Profit,Local Services,Event Planning & Services,...,None,None,None,None,None,None,None,None,None,None
6,Education,Preschools,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [19]:
merge_tiny_df = even_smaller_df.merge(cat_split, left_index=True, right_index=True)
merge_tiny_df.head()

,business_id,name,address,city,postal_code,latitude,longitude,stars,categories,0,...,27,28,29,30,31,32,33,34,35,36
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,97218,45.588906,-122.593331,4.0,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",Salad,...,None,None,None,None,None,None,None,None,None,None
1,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,97214,45.511907,-122.613693,4.5,"Antiques, Fashion, Used, Vintage & Consignment...",Antiques,...,None,None,None,None,None,None,None,None,None,None
2,DLbEQySMW3X7KvkybpEYkw,Jasmine Nail Spa,"4370 SE King Rd, Ste 125",Portland,97222,45.447598,-122.617427,3.0,"Nail Salons, Beauty & Spas",Nail Salons,...,None,None,None,None,None,None,None,None,None,None
3,j68RDnvOaYEwGcY9cTEHpA,Pittock Mansion,3229 NW Pittock Dr,Portland,97210,45.525259,-122.716227,4.5,"Tours, Museums, Architectural Tours, Venues & ...",Tours,...,None,None,None,None,None,None,None,None,None,None
6,_bZOUUc6Sr_W3BxbOUJacw,Prince of Peace,14175 NW Cornell Rd,Portland,97229,45.530958,-122.823780,3.5,"Education, Preschools",Education,...,None,None,None,None,None,None,None,None,None,None

In [20]:
cusines = ['American (Traditional)', 'American (New)', 
           'Mexican', 'Japanese', 'Thai', 'Chinese', 
           'Vietnamese', 'Mediterranean']
cusines_drop = merge_tiny_df.loc[merge_tiny_df[0].isin(cusines)]
cusines_drop

,business_id,name,address,city,postal_code,latitude,longitude,stars,categories,0,...,27,28,29,30,31,32,33,34,35,36
32,r_sOAVfNPaXrpjznZpuxeg,Papi Chulo's,611 NW 13th Ave,Portland,97209,45.527419,-122.684447,4.0,"Mexican, Restaurants, Tacos, Breakfast & Brunch",Mexican,...,None,None,None,None,None,None,None,None,None,None
50,UKIBQrRbY_jo52yHWcZE8g,Noah Halal,310 SW 5th Ave,Portland,97204,45.521036,-122.676633,4.0,"Mediterranean, Food, Restaurants, Food Trucks",Mediterranean,...,None,None,None,None,None,None,None,None,None,None
145,sJNMic9YAN7rSy8RnHZ0qw,Moon Dream,3232 NE 82nd Ave,Portland,97220,45.545997,-122.578524,4.5,"American (New), Nightlife, Bars, Karaoke, Rest...",American (New),...,None,None,None,None,None,None,None,None,None,None
171,uMPGs_Jc1fBoxeGrCKqRiw,Panda Express,1462 NE 122nd Ave,Portland,97230,45.533263,-122.537338,2.0,"Chinese, Restaurants, Fast Food",Chinese,...,None,None,None,None,None,None,None,None,None,None
234,zfasUshwU5NhibqKVQ7FIw,Chopsticks,3616 SE Hawthorne Blvd,Portland,97214,45.511930,-122.626345,3.0,"Chinese, Vietnamese, Restaurants, Asian Fusion...",Chinese,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34957,bg1MpNS2occNxzf1d2XFSw,Charley's Restaurant & Bar,435 NE Wasco St,Portland,97232,45.532578,-122.661142,3.0,"American (New), Restaurants, Bars, Nightlife",American (New),...,None,None,None,None,None,None,None,None,None,None
34989,qYSb2KkBYjJyTTIdhiXbFA,Skin & Bones American Bistro,5425 E Burnside St,Portland,97215,45.522904,-122.607814,4.0,"American (New), Food, Restaurants",American (New),...,None,None,None,None,None,None,None,None,None,None
35113,TiBodtlOdiwALvmhWfLNSA,Lin's China Jade,4050 SW Cedar Hills Blvd,Beaverton,97005,45.490576,-122.810231,3.5,"Chinese, Restaurants",Chinese,...,None,None,None,None,None,None,None,None,None,None
35179,IVv9n57Tbmf4kSgIWZUhKg,Creepy's,627 SE Morrison St,Portland,97214,45.517344,-122.659096,4.0,"American (Traditional), Restaurants, Nightlife...",American (Traditional),...,None,None,None,None,None,None,None,None,None,None
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,"American (Traditional), Desserts, American (Ne...",American (Traditional),...,None,None,None,None,None,None,None,None,None,None

In [24]:
tiny_drop = cusines_drop.drop(['categories',1,2 ,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,
                              26,27,28,29,30,31,32,33,34,35,36], axis=1)
tiny_drop

,business_id,name,address,city,postal_code,latitude,longitude,stars,0
32,r_sOAVfNPaXrpjznZpuxeg,Papi Chulo's,611 NW 13th Ave,Portland,97209,45.527419,-122.684447,4.0,Mexican
50,UKIBQrRbY_jo52yHWcZE8g,Noah Halal,310 SW 5th Ave,Portland,97204,45.521036,-122.676633,4.0,Mediterranean
145,sJNMic9YAN7rSy8RnHZ0qw,Moon Dream,3232 NE 82nd Ave,Portland,97220,45.545997,-122.578524,4.5,American (New)
171,uMPGs_Jc1fBoxeGrCKqRiw,Panda Express,1462 NE 122nd Ave,Portland,97230,45.533263,-122.537338,2.0,Chinese
234,zfasUshwU5NhibqKVQ7FIw,Chopsticks,3616 SE Hawthorne Blvd,Portland,97214,45.511930,-122.626345,3.0,Chinese
...,...,...,...,...,...,...,...,...,...
34957,bg1MpNS2occNxzf1d2XFSw,Charley's Restaurant & Bar,435 NE Wasco St,Portland,97232,45.532578,-122.661142,3.0,American (New)
34989,qYSb2KkBYjJyTTIdhiXbFA,Skin & Bones American Bistro,5425 E Burnside St,Portland,97215,45.522904,-122.607814,4.0,American (New)
35113,TiBodtlOdiwALvmhWfLNSA,Lin's China Jade,4050 SW Cedar Hills Blvd,Beaverton,97005,45.490576,-122.810231,3.5,Chinese
35179,IVv9n57Tbmf4kSgIWZUhKg,Creepy's,627 SE Morrison St,Portland,97214,45.517344,-122.659096,4.0,American (Traditional)
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,American (Traditional)

In [25]:
tiny_drop = tiny_drop.rename(columns={0: 'cusines'})
tiny_drop

,business_id,name,address,city,postal_code,latitude,longitude,stars,cusines
32,r_sOAVfNPaXrpjznZpuxeg,Papi Chulo's,611 NW 13th Ave,Portland,97209,45.527419,-122.684447,4.0,Mexican
50,UKIBQrRbY_jo52yHWcZE8g,Noah Halal,310 SW 5th Ave,Portland,97204,45.521036,-122.676633,4.0,Mediterranean
145,sJNMic9YAN7rSy8RnHZ0qw,Moon Dream,3232 NE 82nd Ave,Portland,97220,45.545997,-122.578524,4.5,American (New)
171,uMPGs_Jc1fBoxeGrCKqRiw,Panda Express,1462 NE 122nd Ave,Portland,97230,45.533263,-122.537338,2.0,Chinese
234,zfasUshwU5NhibqKVQ7FIw,Chopsticks,3616 SE Hawthorne Blvd,Portland,97214,45.511930,-122.626345,3.0,Chinese
...,...,...,...,...,...,...,...,...,...
34957,bg1MpNS2occNxzf1d2XFSw,Charley's Restaurant & Bar,435 NE Wasco St,Portland,97232,45.532578,-122.661142,3.0,American (New)
34989,qYSb2KkBYjJyTTIdhiXbFA,Skin & Bones American Bistro,5425 E Burnside St,Portland,97215,45.522904,-122.607814,4.0,American (New)
35113,TiBodtlOdiwALvmhWfLNSA,Lin's China Jade,4050 SW Cedar Hills Blvd,Beaverton,97005,45.490576,-122.810231,3.5,Chinese
35179,IVv9n57Tbmf4kSgIWZUhKg,Creepy's,627 SE Morrison St,Portland,97214,45.517344,-122.659096,4.0,American (Traditional)
35263,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,97224,45.394457,-122.752535,2.0,American (Traditional)

In [26]:
tiny_drop.to_csv('yelp_dataset/final_bus')